/* gallery section */
.top_gallery::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/bgorr1.jpg); /*put img as background*/
  background-size: 100% 100%;
  background-position: right bottom;
  background-repeat: no-repeat;
  z-index: -1;
}


.image-gallery {
  width: 100%;
  width: 50rem;
  margin: 4rem auto;
}

.txt-gallery {
  padding-bottom: 20px;
  text-align: center;
}
.txt-gallery h2 {
  padding-bottom: 10px;
  text-align: center;
  font-size: 40px;
}
/*end gallery section */



.prev,
.next {
position: absolute;
top: 50%;
transform: translateY(-50%);
width: 40px;
height: 40px;
line-height: 40px;
text-align: center;
background-color: rgba(200, 181, 255, 0.7);
border-radius: 50%;
font-size: 24px;
color: #fff;
cursor: pointer;
}

.prev {
left: 20px;
}

.next {
right: 20px;
}

/* Position the image container (needed to position the left and right arrows) */
.gallery-container {
  position: relative;
}
/* Hide the images by default */
.slides {
  display: none;
  border: 5px solid #222;
  margin-bottom: 20px;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}
/* Next & previous buttons */

/* Number text (1/3 etc) */
.numbertext {
  color: white;
  font-size: 12px;
  padding: 15px 12px;
  position: absolute;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.pict {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}